@model IEnumerable<Writer>
<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-10">
            <h2 class="text-info">List of Writers</h2>
        </div>
        <div class="col-2 text-right">
            <a asp-action="UpdateInsert" class="btn btn-info form-control">Add New Writer</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>Name Surname</th>
                    <th>Birthday</th>
                    <th>Location</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NameSurname</td>
                        <td>@item.Birthday.ToShortDateString()</td>
                        <td>@item.Location</td>
                        <td>
                            <a class="btn btn-primary text-white" asp-action="UpdateInsert" asp-route-id="@item.WriterId">Edit</a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.WriterId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Records Found...</p>
        }
    </div>
</div>